<ion-view title="Add Stations">
    <ion-content>

        <div>
            <div id="addmap" lat="6.9271" lng="79.8612" zoom="10" addmap>

            </div>
			
			<form name="myForm" novalidate>
            <div width="80%" class="list list-inset" style="margin-left:10%;margin-right:10%;">
			
					
				 <label class="item item-input">
					<input type="text" name="name" ng-model="station.name" placeholder="Station Name" required>
				 </label>
				 <span style="color:red" ng-show="myForm.name.$error.required">Name is required</span>
				 <div class="spacer" style="width: 283px; height: 10px;"></div>
				
				 <label class="item item-input">
					<textarea  name="description" ng-model="station.desc" placeholder="Description" required></textarea>
				 </label>
				 <span style="color:red" ng-show="myForm.description.$error.required">Description is required</span>
				 <div class="spacer" style="width: 283px; height: 10px;"></div>
				
				 <label class="item item-input">
					<input type="text" name="address" ng-model="station.address" placeholder="Address" required>
				 </label>
				 <span style="color:red" ng-show="myForm.address.$error.required">Address is required</span>
				 <div class="spacer" style="width: 283px; height: 10px;"></div>
				
				 <label class="item item-input">
					<input type="text" ng-model="station.contact" placeholder="Contact">
				 </label>
				 <div class="spacer" style="width: 283px; height: 10px;"></div>
				 
					<label class="item item-input">
				 <input type="text" ng-model="station.email" placeholder="Email">
				 </label>
				 <div class="spacer" style="width: 283px; height: 10px;"></div>
				 
				 <label class="item item-input">
					<input type="text" ng-model="station.web" placeholder="Web">
				 </label>
				  

                <button class="button button-full button-positive" ng-disabled="myForm.$invalid" ng-click="saveDetails()">
                    Save
                </button>
            </div>
			</form>
			
			 
        </div>
		



    </ion-content>
</ion-view>