<ion-view title="Admin Homepage" id="page12">
    <ion-content padding="true" class="has-header">

    <h2 style="text-align: center;">Admin Panel</h2>
    <div>
    <a ui-sref="adminUserView" id="admin-button" class="button button-positive  button-block">View Users <i class="ion-information-circled"></i></a>
    <a ui-sref="adminStationView" id="admin-button1" class="button button-positive  button-block">View Stations <i class="ion-information-circled"></i></a>
	<a ui-sref="addStation" id="admin-button1" class="button button-positive  button-block">Add Stations <i class="ion-information-circled"></i></a>
    <a ui-sref="page" id="admin-button2" class="button button-positive  button-block">Charging History <i class="ion-information-circled"></i></a>
    <a ui-sref="newsPage" id="admin-button3" class="button button-positive  button-block button-block ">Notices <i class="ion-information-circled"></i></a>
    <a ui-sref="addEvents" id="admin-button4" class="button button-positive  button-block">View Posts <i class="ion-information-circled"></i></a>
    </div>
    </ion-content>
</ion-view>