<ion-view title="Admin Homepage" id="page12">
    <ion-content padding="true" class="has-header">

    <a ui-sref="adminUserView" id="admin-button" class="button button-positive  button-block">View Users!</a>
    <a ui-sref="adminStationView" id="admin-button1" class="button button-positive  button-block">View Stations!</a>
    <a ui-sref="page" id="admin-button2" class="button button-positive  button-block">Charging History!</a>
    <a ui-sref="newsPage" id="admin-button3" class="button button-positive  button-block button-block icon ion-social-hackernews-outline">Notices!</a>
    <a ui-sref="addEvents" id="admin-button4" class="button button-positive  button-block">View Posts!</a>

    </ion-content>
</ion-view>