
<ion-view  view-title="My Post History">


  <ion-content ng-controller="mypostCtrl">

	 <div class="padding"> </div>

    <ion-list>
      <ion-item  ng-repeat="post in myposts" class="item-icon-right item-remove-animate">

        <div class="item item-divider"> <div class="padding"> </div></div>

			<form name="myForm" novalidate>
				<div class="item item-avatar">
                <img src="https://www.combustioninstitute.org/resources/icon_member_male.png">
                <h2>{{post.username}}</h2>

                <p>November 05, 2016</p>
				 <label class="item item-input item-stacked-label">
				<span class="input-label">Title :</span>
				<input type="text" name="title" ng-model="title" placeholder="{{post.title}}" required>
				<span style="color:red" ng-show="myForm.title.$error.required">Title is required</span>
				</label>
                </div>

              <div class="item item-body">
                <img height="250" width="100" class="full-image" src={{post.image}}>
				 <label class="item item-input item-stacked-label">
				<span class="input-label">Description :</span>
				<textarea  name="description" ng-model="desc" placeholder="{{post.description}}" required></textarea>
				<span style="color:red" ng-show="myForm.description.$error.required">Description is required</span>
				</label>
				</br>

              
                </div>
				   <button class="button button-full button-positive" ng-disabled="myForm.$invalid"  ng-click="updatePost(title,description)">
                    UPDATE
                </button>
			</form>
          </div>

					  </ion-item>

				</div>
			</div>
      </ion-item>
    </ion-list>

  </ion-content>

 <ion-footer-bar align-title="left" >

 <div class="button-bar" >
  <a id="socialNetwork-button20"  class="button button-positive icon ion-clipboard" ui-sref="posts">    Posts</a>
  <a class="button button-positive icon ion-android-chat " ui-sref="chatroomhome">   chat room</a>
</div>

</ion-footer-bar>


</ion-view>


 <link rel="stylesheet" href="css/socialNetwork/commentstyle.css">    <!-- comment css -->
