<ion-view title="Group Chat" id="page18">
    <ion-content padding="true" class="has-header">
	
	



   
<div ng-app="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Social Charging</title>

    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
      <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
 

  </head>

  <div ng-controller="Messages">
    <ion-pane "class="messaging-view">

    <ion-header-bar class="bar-calm">
      <h1 class="title">Social Charging chat</h1>
    </ion-header-bar>

    <ion-content class="content-stable"
                 on-swipe-left="hideTime = false"
                 on-swipe-right="hideTime = true">



<!-- CHAT MARKUP -->
<div class="ion" >

  <div class="item item-input-inset" >
    <div class="col"><label for="nameInput">Username :</label></div>
    <label class="item-input-wrapper">
  <div class="col"> <input type='text' id='nameInput' placeholder='enter a User Name..'></div>
    </label>
  </div>


  </div>

  <ul id='example-messages' class="example-chat-messages" align="left" style="border:1px;margin-left:50px"></ul>

  <footer >
  <label class="item"  >
    <input  type='text' id='messageInput'  size="35" placeholder='Type your Message here...  '>
	</label>
  </footer>

</div>


    </div>
	</ion-content>
  </ion-pane>
  </div>

</div>

        <script src="js/index.js"></script>
    <script src="js/chat.js"></script>





	
	</ion-content>
</ion-view>