<ion-view view-title="CharterChat">
  <ion-content>
    <div class="list card">
      <a ui-sref="rooms" class="item item-icon-left">
        <i class="icon ion-ios-chatboxes"></i>
        Rooms
      </a>
      <a ui-sref="#" class="item item-icon-left">
        <i class="icon ion-ios-calendar"></i>
        Schedule
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-person"></i>
        My Profile
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-gear-a"></i>
        My Account
      </a>
    </div>
  </ion-content>
</ion-view>
