<ion-view title="Make Appointment" id="page22">
    <ion-content padding="true" class="has-header">
    	<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Customer Name</span>
    <input type="text" placeholder="name">
  </label>
  <label class="item item-input item-stacked-label">  
    <span class="input-label">Contact Number</span>
    <input type="tel" placeholder="mobile">
  </label>
  <label class="item item-input item-stacked-label">  
    <span class="input-label">Vehicle Reg Number</span>
    <input type="text" placeholder="vehical reg number">
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Station
    </div>
    <select>
      <option>Green Frontiers Battaramulla</option>
      <option selected>Fast servers</option>
      <option>Avissawella</option>
    </select>
  </label>
  <label class="item item-input">
  <span class="input-label">Date</span>
  <input type="date">
</label>
	
</div><button class="button button-full button-positive">
  Make Appointment
</button>
<button class="button button-full button-assertive">
  Clear
</button>
    </ion-content>
</ion-view>