<!-- User can make appointment before arrive to the station -->

<ion-view title="Make Appointment" id="page32">
    <ion-content padding="true" class="has-header">
    
	<div ng-controller="makeAppointmentCtrl">
		
		<div class="list">
			<form name="makeAppointment" novalidate><!-- Start Form -->
		<div>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Customer Name</span>
				<input type="text" placeholder="name" name="cname" ng-model="cname" required>
				<span style="color:red" ng-show="makeAppointment.cname.$error.required">*This field is required!</span> <!-- catch the error -->
			</label>
  
			<label class="item item-input item-stacked-label">  
				<span class="input-label">Contact Number</span>
				<input type="tel" placeholder="mobile" name="tele" ng-model="tele" ng-pattern="/^[0-9]{1,10}$/" ng-minlength="10" ng-maxlength="10"required>
				<span ng-show="makeAppointment.tele.$error.pattern">Not a valid phone number!</span>
				<span style="color:red" ng-show="makeAppointment.tele.$error.required">*This field is required!</span>
			
			</label>
  
			<label class="item item-input item-stacked-label">  
				<span class="input-label">Vehicle Reg Number</span>
				<input type="text" placeholder="vehical reg number" name="vRegNum" ng-model="vRegNum" ng-minlength="10" ng-maxlength="10" required>
			<!-- catch the error -->
				<span style="color:red" ng-show="makeAppointment.vRegNum.$error.required">*This field is required!</span>
				<span style="color:red" ng-show="makeAppointment.vRegNum.$error.minlength">length is 10  
				</span>
				<span style="color:red" ng-show="makeAppointment.vRegNum.$error.maxlength">length is 10  
				</span>
			</label>
  
		<!-- <label class="item item-input item-select">
		<div class="input-label">
		Station
		</div>
		<select ng-model="mySelect" ng-change="showSelectValue(mySelect)">
		<option>Green Frontiers Battaramulla</option>
		<option selected>Fast servers</option>
		<option>Avissawella</option>
		</select>
		</label>
  
		<label class="item item-input">
		<span class="input-label">Date</span>
		<input type="date" name="date">
		</label> -->
	
		</div>
	
			<button class="button button-full button-positive" ng-disabled="makeAppointment.$invalid"  ng-click="makeAppointmentForm(cname, tele, vRegNum)">
			Make Appointment
			</button>
			<button class="button button-full button-assertive" ng-click="makeAppointmentForm2(cname, tele, vRegNum)">
			Clear
			</button>
			
			</form><!-- End form -->
	
	</ion-content>
</ion-view>