<ion-view title="New Post" id="page23" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
      <div ng-controller="userController">



          <h1 style="text-align: center;">Enter Your post here</h1>
        <div class="spacer" style="width: 300px; height: 65px;"></div>
        <form id="newPost-form7" class="list " name="newPostForm" >
            <label class="item item-input " id="newPost-input6" name="Title">
                <input type="text" placeholder="Title " ng-model="title">
            </label>
            <div class="spacer" style="width: 300px; height: 31px;"></div>
<!-- test upload -->

  <!-- upload end  -->



            <label class="item item-input " id="newPost-textarea2" name="Descrip">
                <span class="input-label"></span><textarea placeholder="Description" ng-model="description"></textarea>
            </label>
            </form><br>

        <a href="#" id="newPost-button16" class=" button button-stable button-small button-block ">Attach Image</a>
        <div class="spacer" style="width: 300px; height: 68px;"></div>
        <button id="newPost-button21" class=" button button-positive  button-block " ng-click="postForm(title,description)" >Publish</button>
        </form>


        </div>
    </ion-content>
</ion-view>



<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<link rel='stylesheet prefetch' href='http://fezvrasta.github.io/bootstrap-material-design/dist/css/bootstrap-material-design.css'>
<link rel='stylesheet prefetch' href='http://fezvrasta.github.io/bootstrap-material-design/dist/css/ripples.min.css'>

    <link rel="stylesheet" href="css/socialNetwork/imgupload.css">

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>

<script src='http://fezvrasta.github.io/bootstrap-material-design/dist/js/material.min.js'></script>
<script src='http://fezvrasta.github.io/bootstrap-material-design/dist/js/ripples.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.js'></script>
<script src='https://cdn.firebase.com/js/client/2.2.4/firebase.js'></script>
<script src='http://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js'></script>
