<ion-view title="News page" id="page16">
    <ion-content padding="true" class="has-header">

    <div ng-controller="noticeController">

     <h2 style="text-align: center;">Enter Your New Notice here</h2>
      
      <form name="newNotice" novalidate>
      <div>
        <label class="item item-input item-stacked-label">
        <span class="input-label" >Topic</span>
        <input type="text" placeholder="topic" name="topic" ng-model="topic" required >
        <span style="color:red" ng-show="newNotice.topic.$error.required">*required</span>
        </label>
      
        <!-- <label class="item item-input item-stacked-label">  
        <span class="input-label">Date</span>
        <input type="date" ng-model='date'>
        </label> -->
      </div>
      <div>
      <div class="spacer" style="width: 300px; height: 31px;"></div>
        <label class="item item-input item-stacked-label">
        <span class="input-label">Notice</span>
        <textarea placeholder="notice" ng-model="notice" name="notice" required>
        </textarea>
		<span style="color:red" ng-show="newNotice.topic.$error.required">*required</span>
      <!-- <div> -->
        </label>
      </div>

      <!-- </div> -->
        <button class="button button-full button-positive" ng-disabled="newNotice.$invalid" ng-click="noticePostForm(topic,date,notice)">
        Save
        </button>
        <button class="button button-full button-assertive" ng-click="noticePostForm2(topic,date,notice)">
        Clear
        </button>
      </div>    
      </form>      

    </ion-content>
</ion-view>

