<ion-view view-title="{{room.name}}">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="backToRoomsList()">
      <i class="ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button" ui-sref="home">
      <i class="ion-home"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <h5 ng-if="messages.length == 0" class="text-center" style="margin-top: 20px">
      No messages in this room.
    </h5>
    <ion-list>
      <ion-item class="item-text-wrap" ng-repeat="message in messages">
          <p style="font-size: 13px; font-weight: 700;">{{message.username}}</p>
          <h2 style="font-size: 14px; font-weight: 700;">{{message.content}}</h2>
          <p style="font-size: 11px; font-weight: 500;">{{message.sentAt | date:'shortDate'}} at {{message.sentAt | date:'shortTime'}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-footer bar-stable">
    <input class="footerInput" type="text" placeholder="Message" ng-model="newMessage">
    <button class="button icon-left ion-paper-airplane" ng-click="sendMessage()"></button>
  </ion-footer-bar>
</ion-view>
