
<ion-view  view-title="Selected post">


  <ion-content ng-controller="getSelectedpost">

	 <div class="padding"> </div>

    <ion-list>
      <ion-item  ng-repeat="post in myposts" class="item-icon-right item-remove-animate">

        <div class="item item-divider"> <div class="padding"> </div></div>


				<div class="item item-avatar">
                <img src="https://www.combustioninstitute.org/resources/icon_member_male.png">
                <h2>{{post.username}}</h2>

                <p>November 05, 2016</p>
                <h1>{{post.title}}</h1>
                </div>

              <div class="item item-body">
                <img height="250" width="100" class="full-image" src={{post.image}}>
                <p>
                {{post.description}} </p>
                <p>
                  <a href="#" class="subdued">{{post.noOfLikes}} Like</a>
                  <a href="#" class="subdued">5 Comments</a>
                </p>
                <!-- //like dislike report -->
                <div ng-controller="postCtrl">
                  <button  ng-click=addlike(post.title) class="styl ion-thumbsup " ></button>
                  <button  ng-click=adddislike(post.title) class="styl ion-thumbsdown " ></button>
                  <button  ng-click=report(post.title) class="styl ion-flag " ></button>

                </div>

                <div class="comment-form"  ng-controller="cmntController" >    <!-- new comment Form -->
                  <!-- Comment Avatar -->
                  <div class="comment-avatar">
                    <img src="http://lorempixel.com/200/200/people">
                  </div>

                    <form class="form" name="form" ng-submit="form.$valid && addComment(comment,post.title) && showAlert()" novalidate>
                      <div class="form-row">
                        <textarea class="input"
                                  ng-model="comment"
                                  placeholder="Add comment..."
                                  required></textarea>
                      </div>

                      <div class="form-row">
                        <input class="commentbtn" type="submit" value="Add Comment">
                      </div>
                    </form><!-- end of new comment form -->


                </div>

                <!-- load comments -->
                  <div  ng-controller="getSelectedpost">
                   <div class="comment"  ng-repeat="comment in mycomments" class="item-icon-right item-remove-animate">
                     <!-- Comment Avatar -->
                     <div class="comment-avatar">
                       <img src="http://lorempixel.com/200/200/people">
                     </div>

                     <!-- Comment Box -->
                     <div class="comment-box">

                       <div class="comment-text">{{comment.comment}}</div>
                       <div class="comment-footer">
                         <div class="comment-info">
                           <span class="comment-author">
                             <a href="mailto:ximme13@somedomain.io">{{comment.username}}</a>
                           </span>
                           <span class="comment-date">Jan 31, 1986 11:32:04 PM</span>
                         </div>

                         <div class="comment-actions">
                           <a href="#">Reply</a>
                         </div>
                       </div>
                     </div>
                   </div> <!-- end of load comments -->
                </div>
          </div>

					  </ion-item>

				</div>
			</div>
      </ion-item>
    </ion-list>



  </ion-content>

 <ion-footer-bar align-title="left" >

 <div class="button-bar" >
  <a id="socialNetwork-button20"  class="button button-positive icon ion-clipboard" ui-sref="posts">    Posts</a>
  <a class="button button-positive icon ion-android-chat " ui-sref="chatroomhome">   chat room</a>
</div>


</ion-footer-bar>


</ion-view>


 <link rel="stylesheet" href="css/socialNetwork/commentstyle.css">    <!-- comment css -->
