<ion-view title="Notices" id="page29">
     <ion-content padding="true" class="has-header">

    <div ng-controller="viewNewsPageCtrl">

      <ion-list>
    <ion-item  ng-repeat="post in posts" class="item-icon-right item-remove-animate">
        <!-- <div class="item item-divider"> <div class="padding"> </div></div>
        <div class="item item-avatar"> -->
		<div class="card">
        <h2><b>Notice </b></h2>
        <br>
        <div class="item item-text-wrap"><b>Topic </b>:<br> {{post.topic}}</div>
        <div class="item item-text-wrap"><b>Notice </b>:<br>  {{post.notice}}</div>
        
        <!-- <h2>{{post.gravatar}}</h2> -->
        <!-- <div><button class="button button-assertive" ng-click="remove($index)">Delete</button></div> -->
  
        </div>

     </ion-item>
     </ion-list>

    </ion-content>
</ion-view>