<ion-view title="Welcome EV User" hide-nav-bar="true" hide-back-button="true" id="page5">
    <ion-content padding="true" style="background: url(img/xtJ5zbTeHee7BwTchbwZ_app_background.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <form class="list">
            <div class="spacer" style="width: 286.4px; height: 155px;"></div>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="home" id="welcomeEVUser-button1" style="font-weight:600;" class="button button-stable  button-block">Log in</a>
            <a ui-sref="signup" id="welcomeEVUser-button2" style="font-weight:600;" class="button button-dark  button-block button-icon icon ion-android-person-add">Register</a>
        </form>
    </ion-content>
</ion-view>